.draggable {
    width: 100px;
    height: 100px;
    background-color: #000;
    opacity: .5;
    color: #fff;
    font-size: 25px;
    padding: 1px;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    z-index: 1;
}

.page {
    z-index: -1;
    outline: 0.5px solid;
    outline-offset: 0.1px;
}

#holder {
    position: relative;
    height: auto;
    height: 500px;
    margin-bottom: 25px;
    border: 1px solid;
}

#pdfcontainer,
#rectanglecontainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#rectanglecontainer {
    z-index: 10;
    height: 100%;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.mouseBox {
    position: absolute;
    background: rgba(0, 0, 255, 0.1);
    border: 1px solid rgba(0, 0, 255, 0.45);
    pointer-events: none;
    display: none;
    width: 0px;
    height: 0px;
}

#fileSelectArea {
    width: 50%;
    text-align: center;
    margin-left: 25%;
    vertical-align: middle;
    margin-top: 50%;
    transform: translate(0%, -50%);
}
